* {
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  margin: 0;
  background: #ecf0f1;
}

#nav {
  background-color: #2c3e50;
  color: white;
  padding: 15px;
  text-align: center;
}

#nav p {
  margin: 4px;
}

#nav h2 {
  margin: 0;
  font-size: 1.5em;
}

#nav input {
  margin-left: 20px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
 
.chart-container {
  display: inline-block;
  width: 45%;
  margin: 1% 2%;
  vertical-align: top;
}

.tooltip {
  opacity: 0;
  position: absolute;
  pointer-events: none;
  border: 4px solid #2c3e50;
  background-color: #ecf0f1;
  padding: 10px;
  border-radius: 6px;
}

.tooltip p {
  margin: 2px;
}

.tooltip:after {
  content: ' ';
  position: absolute;
  left: 50%;
  border: 8px solid transparent;
  border-top-color: #2c3e50;
  bottom: -20px;
  margin-left: -4px;
}

.country {
  stroke: none;
}

.country:hover {
  cursor: pointer;
}

.country.active {
  stroke: #2c3e50;
  stroke-width: 2px;
}

.y-axis-label {
  font-size: 0.8em;
}

.tick text {
  font-size: 1.5em;
}

/*Side Nagigation bar*/

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #2c3e50;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 15px;
  color: red;
  display: block;
  transition: 0.3s;
}

.sidenav p {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 15px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
  .sidenav p {font-size: 18px;}
}